.container {
    display: flex;
    flex-direction: column;

    text-align: center;
    height: 100dvh;
    gap: 1em;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.modalInput {
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.backButton {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    width: 60px;
    padding: 0.5em;
    border-radius: 5px;
}