.ipContainer {
    width: 12.5rem; 
    padding: 2.5rem; 
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
}

.teste {
    border-color: #dc3545;
}

.status {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;

    cursor: pointer;
}

article {
    position: relative;
    bottom: 30px;
    left: 120px;
    color: #dc3545;
    cursor: pointer;
}